@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

:root {
    --primary-color: #170056;
    --secondary-color: #000989;
    --black: #444; 
    --light-color: #666;
    --border: .1rem solid rgba(0, 0, 0, .1);
    --border-hover: .1rem solid var(--black);
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    transition: width none;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width:1rem
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: var(--black);
}

section{
    padding: 5rem 9%;
}

.heading{
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
}

.heading::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: .01rem;
    background: rgba(0, 0, 0, .1);
    z-index: -1;
}

.heading span{
    font-size: 2.5rem;
    padding: .5rem 2rem;
    color: var(--black);
    background: #fff;
    border: var(--border)

}

/* button */

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    border-radius: .5rem;
    color: #fff;
    background: var(--primary-color);
    font-size: 1.6rem;
    cursor: pointer;
    font-weight: 400;
}

.btn:hover{
    background: var(--secondary-color);
}

/* header section 1 */

.header .header-1{
    background: #fff;
    padding: 1.5rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .header-1 .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--black);
}

.header .header-1 .logo i{
    color:var(--primary-color);
}

.header .header-1 .search-form{
    width: 50rem;
    height: 5rem;
    border: var(--border);
    overflow: hidden;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: .5rem;
}

.header .header-1 .search-form input{
    font-size: 1.6rem;
    padding: 0 1.2rem;
    height: 100%;
    width: 100%;
    text-transform: none;
    color: var(--black);
}

.header .header-1 .search-form label{
    font-size: 2.5rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

.header .header-1 .search-form label:hover{
    color: var(--primary-color);
}

.header .header-1 .icons div, 
.header .header-1 .icons a{
    font-size: 2.5rem;
    margin-left: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

.header .header-1 .icons div:hover, 
.header .header-1 .icons a:hover{
    color: var(--secondary-color);
}

#search-btn{
    display: none;
}

/* search dropdown */
.search-form .search-dropdown {
    display: none;
    position: absolute;
    width: 50rem;
    background: white;
    border: var(--border);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    max-height: 300px;
    overflow-y: auto;
    z-index: 10;
    margin-top: 35rem;
}

.search-form .search-dropdown .search-item {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-bottom: var(--border);
    cursor: pointer;
}

.search-form .search-dropdown .search-item img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    border-radius: .5rem;
}

.search-form .search-dropdown .search-item:last-child {
    border-bottom: none;
}

.search-form .search-dropdown .search-item:hover {
    background: #f3f3f3;
}

.search-form .search-dropdown .search-item span {
    font-size: 1.6rem; 
    color: var(--black); 
    font-weight: 500; 
}

/* header section 1 end */

/* header section 2 */
.header .header-2{
    background: var(--primary-color);
}

.header .header-2 .navbar{
    text-align: center;
}

.header .header-2 .navbar a{
    color: #fff;
    display: inline-block;
    padding: 1.2rem;
    font-size: 1.7rem;
}

.header .header-2 .navbar a:hover{
    background: var(--secondary-color);
}

.header .header-2.active{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
/* header section 2 end */

/* categories */
.header .header-2 .navbar .dropdown {
    position: relative;
    display: inline-block;
}

.header .header-2 .navbar .dropbtn {
    color: #fff;
    padding: 1.2rem;
    font-size: 1.7rem;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.header .header-2 .navbar .dropdown-content {
    display: none;
    position: absolute;
    background: var(--primary-color);
    min-width: 250px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
    z-index: 10;
}

.header .header-2 .navbar .dropdown-content a {
    color: #fff;
    padding: 1rem;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    text-decoration: none;
    transition: 0.3s;
    justify-content: space-between;
}

.header .header-2 .navbar .dropdown-content a i:first-child {
    margin-right: 10px;
}

.header .header-2 .navbar .dropdown-content a .side-arrow{
    margin-left: auto;
    padding: .5rem;
}

.header .header-2 .navbar .dropdown:hover .dropdown-content {
    display: block;
}

.header .header-2 .navbar .dropdown-content a:hover {
    background: var(--secondary-color);
}
/* categories end */

/* small displays - bottom navbar */
.bottom-navbar{
    text-align: center;
    background: var(--primary-color);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: none;
}

.bottom-navbar a{
    font-size: 2.5rem;
    padding: 2rem;
    color: #fff;
}

.bottom-navbar a:hover{
    background: var(--secondary-color);
}

/* small displays - bottom navbar end */

/* login form & reg form & forget pw form */
.login-form-container,
.reg-form-container,
.forgetpw-form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, .7);
    position: fixed;
    top: 0;
    right: -105%;
    z-index: 10000;
    height: 100%;
    width: 100%;
}

.login-form-container.active,
.reg-form-container.active,
.forgetpw-form-container.active{
    right: 0;
}

.login-form-container form,
.reg-form-container form,
.forgetpw-form-container form{
    background: #fff;
    border: var(--border);
    width: 40rem;
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    margin: 2rem;
}

.login-form-container form h3,
.reg-form-container form h3,
.forgetpw-form-container form h3{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--black);
    text-align: center;
}

.login-form-container form span,
.reg-form-container form span{
    display: block;
    font-size: 1.5rem;
    padding-top: 1rem;
}

.forgetpw-form-container form span{
    display: block;
    font-size: 1.5rem;
    padding-top: 5rem;
}

.reg-form-container form .name-fields{
    display: flex;
    gap: 1rem;
}

.reg-form-container form .name-fields .field{
    flex: 1;
}

.login-form-container form .box,
.reg-form-container form .box,
.forgetpw-form-container form .box{
    width: 100%;
    margin: .7rem 0;
    font-size: 1.6rem;
    border: var(--border);
    border-radius: .5rem;
    padding: 1rem 1.2rem;
    color: var(--black);
    text-transform: none;
}

.login-form-container form .checkbox,
.reg-form-container form .checkbox{
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 1rem 0;
}

.login-form-container form .checkbox label,
.reg-form-container form .checkbox label{
    font-size: 1.5rem;
    color: var(--light-color);
    cursor: pointer;
}

.login-form-container form .btn,
.reg-form-container form .btn,
.forgetpw-form-container form .btn{
    text-align: center;
    width: 100%;
    margin: 1.5rem 0;
}

.login-form-container form p,
.reg-form-container form p,
.forgetpw-form-container form p{
    padding-top: .8rem;
    color: var(--light-color);
    font-size: 1.5rem;
}

.login-form-container form p a,
.reg-form-container form p a,
.forgetpw-form-container form p a{
    color: var(--primary-color);
}

.login-form-container #close-login-btn,
.reg-form-container #close-reg-btn,
.forgetpw-form-container #close-fpw-btn{
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
    font-size: 5rem;
    color: var(--black);
    cursor: pointer;
}

/* login form & reg form end & forget pw form */

/* home section */
.home{
    background: url(../image/banner-bg.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.home .row .content{
    flex: 1 1 42rem;
}

.home .row .content .highlight {
    font-size: 2.2rem;
    font-weight: 600;
    color: #fff;
    line-height: 1.1;
}

.home .row .content .highlight .highlight1,
.home .row .content .highlight .highlight2 {
    color: #ec0000;
}

.home .row .content .pro {
    font-size: 2.4rem;
    font-weight: bold;
    color: #2c00dc;
}

.home .row .music-slider{
    flex: 1 1 42rem;
    text-align: center;
    margin-top: 2rem;
}

.home .row .music-slider .glass-container{
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1); 
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);           
    -webkit-backdrop-filter: blur(10px);   
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.home .row .music-slider a img{
    height: 25rem;
}

.home .row .music-slider a:hover img{
    transform: scale(.9);
}

.home .row .content h3{
    color: #fff;
    font-size: 4.5rem;
}

.home .row .content p{
    color: var(--secondary-color);
    font-size: 1.4rem;
    line-height: 2;
    padding: 1rem 0;
}

/* home section end */

/* icons section */
.icons-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1rem;
}

.icons-container .icons{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem 0;
}

.icons-container .icons i{
    font-size: 3.5rem;
    color: var(--primary-color);
}

.icons-container .icons h3{
    font-size: 2.2rem;
    color: var(--secondary-color);
    padding-bottom: .5rem;
}

.icons-container .icons p{
    font-size: 1.4rem;
    color: var(--secondary-color);
}
/* icons section end */

/* featured section */
.featured{
    padding-top: 0;
}

.featured .featured-slider .box{
    width: 25rem;
    margin: 2rem 0;
    position: relative;
    overflow: hidden;
    border: var(--border);
    text-align: center;
    background: linear-gradient(15deg, #eeeeee 30%, #ffffff 30.1%);
}

.featured .featured-slider .box:hover{
    border: var(--border-hover);
}

.featured .featured-slider .box .image{
    padding: 1rem;
    background: linear-gradient(15deg, #eeeeee 30%, #ffffff 30.1%);
}

.featured .featured-slider .box .image img{
    height: 20rem;
    cursor: pointer;
}

.featured .featured-slider .box:hover .image{
    transform: translateY(6rem);
}

.featured .featured-slider .box .icons{
    border-bottom: var(--border-hover);
    position: absolute;
    top: 0; left: 0; right: 0;
    background: #fff;
    z-index: 1;
    transform: translateY(-105%);
}

.featured .featured-slider .box:hover .icons{
    transform: translateY(0%);
}

.featured .featured-slider .box .icons a{
    color: var(--black);
    font-size: 1.8rem;  
    padding: 1.3rem 1.5rem;
}

.featured .featured-slider .box .icons a:hover{
    background: var(--primary-color);
    color: #fff;
}

.featured .featured-slider .box .content{
    background: #eee;
    padding: 1.5rem;
}

.featured .featured-slider .box .content h3{
    font-size: 1.7rem;
    color: var(--black);
}

.featured .featured-slider .box .content .price{
    font-size: 1.7rem;
    color: var(--black);
    padding-top: 1rem;
}

.featured .featured-slider .box .content .price span{
    font-size: 1.4rem;
    color: var(--primary-color);
    text-decoration: line-through;
}

.swiper-button-next,
.swiper-button-prev{
    border: var(--border-hover);
    height: 4rem;
    width: 4rem;
    color: var(--black);
    background: #fff;
}

.swiper-button-next::after,
.swiper-button-prev::after{
    font-size: 2rem;
}

.swiper-button-next:hover,
.swiper-button-prev:hover{
    background: var(--black);
    color: #fff;
}

/* featured section end */

/* new arrivals section */
.arrivals{
    padding-top: 0;
}

.arrivals .arrivals-slider .box{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem 1rem;
    border: var(--border);
    margin: 1rem 0;
    background: linear-gradient(45deg, #eeeeee 90%, #082271 10%);
}

.arrivals .arrivals-slider .box:hover{
    border: var(--border-hover);
}

.arrivals .arrivals-slider .box .image img{
    height: 15rem;
}

.arrivals .arrivals-slider .box .content h3{
    font-size: 1.9rem;
    color: var(--black);
}

.arrivals .arrivals-slider .box .content .price{
    font-size: 1.9rem;
    color: var(--black);
    padding-bottom: .5rem;
}

.arrivals .arrivals-slider .box .content .price span{
    font-size: 1.5rem;
    color: var(--secondary-color);
    text-decoration: line-through;
}

.arrivals .arrivals-slider .box .content .starts i{
    font-size: 1.5rem;
    color: var(--primary-color);
}

/* new arrivals section end */

/* middle image section */
.middle-image{
    background: url(../image/image-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 20rem;
}

/* middle image section end */

/* reviews section */
.reviews .reviews-slider .box{
    border: var(--border);
    padding: 2rem;
    text-align: center;
}

.reviews .reviews-slider .box:hover{
    border: var(--border-hover);
}

.reviews .reviews-slider .box img{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.reviews .reviews-slider .box h3{
    color: var(--black);
    font-size: 2.2rem;
    padding: .5rem 0;
}

.reviews .reviews-slider .box p{
    color: var(--secondary-color);
    font-size: 1.4rem;
    padding: 1rem 0;
    line-height: 2;
    display: -webkit-box;
    -webkit-line-clamp: 2;        /* Only show 2 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    
    line-height: 1.4;             /* Adjust line spacing (1.4 works well) */
    max-height: calc(1.9em * 2); 

}

.reviews .reviews-slider .box .stars i{
    padding-top: 1rem;
    font-size: 1.7rem;
    color: var(--primary-color);
}
/* reviews section end */

/* footer section */
.footer{
    box-shadow: 0 -5px 15px rgba(180, 180, 180, 0.1);
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .box h3{
    font-size: 2.2rem;
    color: var(--black);
    padding: 1rem 0;
}

.footer .box-container .box a{
    display: block;
    font-size: 1.4rem;
    color: var(--secondary-color);
    padding: 1rem 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.footer .box-container .box a i{
    color: var(--primary-color);
    padding-right: .5rem;
}

.footer .box-container .box a:hover i{
    padding-right: 2rem;
    color: var(--secondary-color);
}

.footer .box-container .box .map{
    width: 100%;
}

/* social links */
.footer .share{
    padding: 1rem 0;
    text-align: center;
}

.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #fff;
    background: var(--primary-color);
    margin: 0 .3rem;
    border-radius: 50%;
}

.footer .share a:hover{
    background: var(--secondary-color);
}

/* credit */
.footer .credit{
    border-top: var(--border);
    margin-top: 2rem;
    padding: 0 1rem;
    padding-top: 2.5rem;
    font-size: 1.6rem;
    color: var(--primary-color);
    text-align: center;
    height: 1rem;
}

.footer .credit span{
    color: var(--secondary-color);
}

/* footer section end*/

/* loader */
.loader-container{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10000;
    background: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader-container.active{
    display: none;
}

.loader-container img{
    height: 30rem;
}

/* loader end */

/* allProducts PAGE CSS */

/* categories */
.categories {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    padding: 40px 20px;
    padding-bottom: 0;
}

.categories .category {
    position: relative;
    text-align: center;
    width: 155px;
    cursor: pointer;
}

.categories .category .circle {
    width: 155px;
    height: 155px;
    background-color: var(--primary-color);
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
    
}

.categories .category:hover .circle{
    background-color: var(--secondary-color);
    transition: background-color 0.2s ease;
}

.categories .category .category-img {
    position: relative;
    width: 160px;
    z-index: 1;
    object-fit: contain;
    margin-top: -25px;
}

.categories .category p {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    color: var(--black);
}

/* active category */
.active-category .circle {
    border: 5px solid red;
}

/* categories end */

/* all products */
.all-prod .all-prod-slider .wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.all-prod .all-prod-slider .prod-box{
    width: calc(20% - 20px);
    min-width: 200px;
    margin: 2rem 0;
    position: relative;
    overflow: hidden;
    border: var(--border);
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.all-prod .all-prod-slider .prod-box:hover{
    border: var(--border-hover);
}

.all-prod .all-prod-slider .prod-box .image{
    padding: 1rem;
    background: linear-gradient(15deg, #eee 30%, #fff 30.1%);
}

.all-prod .all-prod-slider .prod-box .image img{
    height: 25rem;
    cursor: pointer;
}

.all-prod .all-prod-slider .prod-box:hover .image{
    transform: translateY(6rem);
}

.all-prod .all-prod-slider .prod-box .icons{
    border-bottom: var(--border-hover);
    position: absolute;
    top: 0; left: 0; right: 0;
    background: #fff;
    z-index: 1;
    transform: translateY(-105%);
}

.all-prod .all-prod-slider .prod-box:hover .icons{
    transform: translateY(0%);
}

.all-prod .all-prod-slider .prod-box .icons a{
    color: var(--black);
    font-size: 2.2rem;
    padding: 1.3rem 1.5rem;
}

.all-prod .all-prod-slider .prod-box .icons a:hover{
    background: var(--primary-color);
    color: #fff;
}

.all-prod .all-prod-slider .prod-box .content{
    background: #eee;
    padding: 1.5rem;
}

.all-prod .all-prod-slider .prod-box .content h3{
    font-size: 1.7rem;
    color: var(--black);
}

.all-prod .all-prod-slider .prod-box .content .price{
    font-size: 1.9rem;
    color: var(--black);
    padding-top: 1rem;
}

.all-prod .all-prod-slider .prod-box .content .price span{
    font-size: 1.5rem;
    color: var(--primary-color);
    text-decoration: line-through;
}

/* all products end */


















/* media queries */
@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header .header-1{
        padding: 2rem;
    }

    section{
        padding: 3rem 2rem;
    }
}

@media (max-width:768px){

    html{
        scroll-padding-top: 0;
    }

    body{
        padding-bottom: 6rem;
    }

    .header .header-2{
        display: none;
    }

    .bottom-navbar{
        display: block;
    }

    #search-btn{
        display: inline-block;
    }

    .header .header-1{
        box-shadow: var(--box-shadow);
        position: relative;
    }

    .header .header-1 .search-form{
        position: absolute;
        top: -115%;
        right: 2rem;
        width: 90%;
        box-shadow: var(--box-shadow);
    }

    .header .header-1 .search-form.active{
        top: 115%;
    }

    .home .row .content{
        text-align: center;
    }

    .home .row .content h3{
        font-size: 3.5rem;
    }

    .footer .box-container{
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .footer .box-container {
        grid-template-columns: 1fr;
        row-gap: 2rem; 
    }

    .footer .box-container .box {
        text-align: center;
    }

    .footer .box-container .box a {
        white-space: normal;
    }

    .footer .box-container .box .map {
        width: 80%;
        max-width: 200px;
        margin: 0 auto;
        display: block;
    }

    .footer .credit{
        font-size: 13px;
        margin-bottom: 30px;
    }

}